interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pub.orcid.org/v1.2/0000-0003-1527-0030/orcid-profile
  response:
    body: {string: !!python/unicode "{\n  \"message-version\" : \"1.2\",\n  \"orcid-profile\"
        : {\n    \"orcid\" : null,\n    \"orcid-id\" : null,\n    \"orcid-identifier\"
        : {\n      \"value\" : null,\n      \"uri\" : \"http://orcid.org/0000-0003-1527-0030\",\n
        \     \"path\" : \"0000-0003-1527-0030\",\n      \"host\" : \"orcid.org\"\n
        \   },\n    \"orcid-deprecated\" : null,\n    \"orcid-preferences\" : {\n
        \     \"locale\" : \"EN\"\n    },\n    \"orcid-history\" : {\n      \"creation-method\"
        : \"DIRECT\",\n      \"completion-date\" : null,\n      \"submission-date\"
        : {\n        \"value\" : 1424366272062\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1432736260241\n      },\n      \"claimed\" : {\n
        \       \"value\" : true\n      },\n      \"source\" : null,\n      \"deactivation-date\"
        : null,\n      \"verified-email\" : {\n        \"value\" : true\n      },\n
        \     \"verified-primary-email\" : {\n        \"value\" : true\n      },\n
        \     \"visibility\" : null\n    },\n    \"orcid-bio\" : {\n      \"personal-details\"
        : {\n        \"given-names\" : {\n          \"value\" : \"Justin\"\n        },\n
        \       \"family-name\" : {\n          \"value\" : \"Littman\"\n        },\n
        \       \"credit-name\" : null,\n        \"other-names\" : null\n      },\n
        \     \"biography\" : null,\n      \"researcher-urls\" : {\n        \"researcher-url\"
        : [ {\n          \"url-name\" : {\n            \"value\" : \"Github\"\n          },\n
        \         \"url\" : {\n            \"value\" : \"https://github.com/justinlittman\"\n
        \         }\n        }, {\n          \"url-name\" : {\n            \"value\"
        : \"Twitter\"\n          },\n          \"url\" : {\n            \"value\"
        : \"https://twitter.com/justin_littman\"\n          }\n        }, {\n          \"url-name\"
        : {\n            \"value\" : \"LinkedIn\"\n          },\n          \"url\"
        : {\n            \"value\" : \"https://www.linkedin.com/pub/justin-littman/a7/aa3/11a\"\n
        \         }\n        } ],\n        \"visibility\" : \"PUBLIC\"\n      },\n
        \     \"contact-details\" : null,\n      \"keywords\" : {\n        \"keyword\"
        : [ {\n          \"value\" : \"\"\n        } ],\n        \"visibility\" :
        \"PUBLIC\"\n      },\n      \"external-identifiers\" : {\n        \"external-identifier\"
        : [ {\n          \"orcid\" : null,\n          \"external-id-orcid\" : null,\n
        \         \"external-id-common-name\" : {\n            \"value\" : \"Scopus
        Author ID\"\n          },\n          \"external-id-reference\" : {\n            \"value\"
        : \"55926744500\"\n          },\n          \"external-id-url\" : {\n            \"value\"
        : \"http://www.scopus.com/inward/authorDetails.url?authorID=55926744500&partnerID=MN8TOARS\"\n
        \         },\n          \"external-id-source\" : null,\n          \"source\"
        : {\n            \"source-orcid\" : {\n              \"value\" : null,\n              \"uri\"
        : \"http://orcid.org/0000-0002-5982-8983\",\n              \"path\" : \"0000-0002-5982-8983\",\n
        \             \"host\" : \"orcid.org\"\n            },\n            \"source-client-id\"
        : null,\n            \"source-name\" : null,\n            \"source-date\"
        : null\n          }\n        } ],\n        \"visibility\" : \"PUBLIC\"\n      },\n
        \     \"delegation\" : null,\n      \"applications\" : null,\n      \"scope\"
        : null\n    },\n    \"orcid-activities\" : {\n      \"affiliations\" : {\n
        \       \"affiliation\" : [ {\n          \"type\" : \"EMPLOYMENT\",\n          \"department-name\"
        : \"Scholarly Technology Group, Gelman Library\",\n          \"role-title\"
        : \"Software Developer / Librarian\",\n          \"start-date\" : {\n            \"year\"
        : {\n              \"value\" : \"2014\"\n            },\n            \"month\"
        : null,\n            \"day\" : null\n          },\n          \"end-date\"
        : null,\n          \"organization\" : {\n            \"name\" : \"George Washington
        University\",\n            \"address\" : {\n              \"city\" : \"Washington\",\n
        \             \"region\" : \"DC\",\n              \"country\" : \"US\"\n            },\n
        \           \"disambiguated-organization\" : {\n              \"disambiguated-organization-identifier\"
        : \"8367\",\n              \"disambiguation-source\" : \"RINGGOLD\"\n            }\n
        \         },\n          \"source\" : {\n            \"source-orcid\" : {\n
        \             \"value\" : null,\n              \"uri\" : \"http://orcid.org/0000-0003-1527-0030\",\n
        \             \"path\" : \"0000-0003-1527-0030\",\n              \"host\"
        : \"orcid.org\"\n            },\n            \"source-client-id\" : null,\n
        \           \"source-name\" : {\n              \"value\" : \"Justin Littman\"\n
        \           },\n            \"source-date\" : {\n              \"value\" :
        1424367082233\n            }\n          },\n          \"created-date\" : {\n
        \           \"value\" : 1424367082233\n          },\n          \"last-modified-date\"
        : {\n            \"value\" : 1424367765508\n          },\n          \"visibility\"
        : \"PUBLIC\",\n          \"put-code\" : \"742819\"\n        }, {\n          \"type\"
        : \"EMPLOYMENT\",\n          \"department-name\" : \"Repository Development
        Center, Office of Strategic Initiatives\",\n          \"role-title\" : \"Software
        Developer\",\n          \"start-date\" : {\n            \"year\" : {\n              \"value\"
        : \"2003\"\n            },\n            \"month\" : null,\n            \"day\"
        : null\n          },\n          \"end-date\" : {\n            \"year\" : {\n
      [...]
