interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pub.orcid.org/v1.2/0000-0002-7843-9422/orcid-profile
  response:
    body: {string: !!python/unicode "{\n  \"message-version\" : \"1.2\",\n  \"orcid-profile\"
        : {\n    \"orcid\" : null,\n    \"orcid-id\" : null,\n    \"orcid-identifier\"
        : {\n      \"value\" : null,\n      \"uri\" : \"http://orcid.org/0000-0002-7843-9422\",\n
        \     \"path\" : \"0000-0002-7843-9422\",\n      \"host\" : \"orcid.org\"\n
        \   },\n    \"orcid-deprecated\" : null,\n    \"orcid-preferences\" : {\n
        \     \"locale\" : \"EN\"\n    },\n    \"orcid-history\" : {\n      \"creation-method\"
        : \"DIRECT\",\n      \"completion-date\" : null,\n      \"submission-date\"
        : {\n        \"value\" : 1392680886124\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1392681000442\n      },\n      \"claimed\" : {\n
        \       \"value\" : true\n      },\n      \"source\" : null,\n      \"deactivation-date\"
        : null,\n      \"verified-email\" : {\n        \"value\" : true\n      },\n
        \     \"verified-primary-email\" : {\n        \"value\" : true\n      },\n
        \     \"visibility\" : null\n    },\n    \"orcid-bio\" : {\n      \"personal-details\"
        : {\n        \"given-names\" : {\n          \"value\" : \"Ronald\"\n        },\n
        \       \"family-name\" : {\n          \"value\" : \"Alfa\"\n        },\n
        \       \"credit-name\" : null,\n        \"other-names\" : null\n      },\n
        \     \"biography\" : null,\n      \"researcher-urls\" : null,\n      \"contact-details\"
        : null,\n      \"keywords\" : null,\n      \"external-identifiers\" : null,\n
        \     \"delegation\" : null,\n      \"scope\" : null\n    },\n    \"orcid-activities\"
        : null,\n    \"orcid-internal\" : null,\n    \"type\" : \"USER\",\n    \"group-type\"
        : null,\n    \"client-type\" : null\n  },\n  \"orcid-search-results\" : null,\n
        \ \"error-desc\" : null\n}"}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
