interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pub.orcid.org/v1.2/0000-0003-3844-5120/orcid-profile
  response:
    body: {string: "{\n  \"message-version\" : \"1.2\",\n  \"orcid-profile\" : {\n
        \   \"orcid\" : null,\n    \"orcid-id\" : null,\n    \"orcid-identifier\"
        : {\n      \"value\" : null,\n      \"uri\" : \"http://orcid.org/0000-0003-3844-5120\",\n
        \     \"path\" : \"0000-0003-3844-5120\",\n      \"host\" : \"orcid.org\"\n
        \   },\n    \"orcid-deprecated\" : null,\n    \"orcid-preferences\" : {\n
        \     \"locale\" : \"EN\"\n    },\n    \"orcid-history\" : {\n      \"creation-method\"
        : \"DIRECT\",\n      \"completion-date\" : null,\n      \"submission-date\"
        : {\n        \"value\" : 1449255121804\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1449262245210\n      },\n      \"claimed\" : {\n
        \       \"value\" : true\n      },\n      \"source\" : null,\n      \"deactivation-date\"
        : null,\n      \"verified-email\" : {\n        \"value\" : true\n      },\n
        \     \"verified-primary-email\" : {\n        \"value\" : true\n      },\n
        \     \"visibility\" : null\n    },\n    \"orcid-bio\" : {\n      \"personal-details\"
        : {\n        \"given-names\" : {\n          \"value\" : \"Ira\"\n        },\n
        \       \"family-name\" : {\n          \"value\" : \"Lurie\"\n        },\n
        \       \"credit-name\" : null,\n        \"other-names\" : {\n          \"other-name\"
        : [ ],\n          \"visibility\" : \"PUBLIC\"\n        }\n      },\n      \"biography\"
        : {\n        \"value\" : null,\n        \"visibility\" : \"PUBLIC\"\n      },\n
        \     \"researcher-urls\" : {\n        \"researcher-url\" : [ ],\n        \"visibility\"
        : \"PUBLIC\"\n      },\n      \"contact-details\" : null,\n      \"keywords\"
        : null,\n      \"external-identifiers\" : {\n        \"external-identifier\"
        : [ {\n          \"orcid\" : null,\n          \"external-id-orcid\" : null,\n
        \         \"external-id-common-name\" : {\n            \"value\" : \"Scopus
        Author ID\"\n          },\n          \"external-id-reference\" : {\n            \"value\"
        : \"7006426157\"\n          },\n          \"external-id-url\" : {\n            \"value\"
        : \"http://www.scopus.com/inward/authorDetails.url?authorID=7006426157&partnerID=MN8TOARS\"\n
        \         },\n          \"external-id-source\" : null,\n          \"source\"
        : {\n            \"source-orcid\" : {\n              \"value\" : null,\n              \"uri\"
        : \"http://orcid.org/0000-0002-5982-8983\",\n              \"path\" : \"0000-0002-5982-8983\",\n
        \             \"host\" : \"orcid.org\"\n            },\n            \"source-client-id\"
        : null,\n            \"source-name\" : null,\n            \"source-date\"
        : null\n          }\n        } ],\n        \"visibility\" : \"PUBLIC\"\n      },\n
        \     \"delegation\" : null,\n      \"scope\" : null\n    },\n    \"orcid-activities\"
        : {\n      \"affiliations\" : {\n        \"affiliation\" : [ {\n          \"type\"
        : \"EMPLOYMENT\",\n          \"department-name\" : \"Forensic Sciences\",\n
        \         \"role-title\" : \"research professor\",\n          \"start-date\"
        : {\n            \"year\" : {\n              \"value\" : \"2013\"\n            },\n
        \           \"month\" : {\n              \"value\" : \"12\"\n            },\n
        \           \"day\" : {\n              \"value\" : \"01\"\n            }\n
        \         },\n          \"end-date\" : null,\n          \"organization\" :
        {\n            \"name\" : \"George Washington University\",\n            \"address\"
        : {\n              \"city\" : \"Washington\",\n              \"region\" :
        \"DC\",\n              \"country\" : \"US\"\n            },\n            \"disambiguated-organization\"
        : {\n              \"disambiguated-organization-identifier\" : \"8367\",\n
        \             \"disambiguation-source\" : \"RINGGOLD\"\n            }\n          },\n
        \         \"source\" : {\n            \"source-orcid\" : {\n              \"value\"
        : null,\n              \"uri\" : \"http://orcid.org/0000-0003-3844-5120\",\n
        \             \"path\" : \"0000-0003-3844-5120\",\n              \"host\"
        : \"orcid.org\"\n            },\n            \"source-client-id\" : null,\n
        \           \"source-name\" : {\n              \"value\" : \"Ira Lurie\"\n
        \           },\n            \"source-date\" : {\n              \"value\" :
        1449261414621\n            }\n          },\n          \"created-date\" : {\n
        \           \"value\" : 1449261414621\n          },\n          \"last-modified-date\"
        : {\n            \"value\" : 1449261470413\n          },\n          \"visibility\"
        : \"PUBLIC\",\n          \"put-code\" : \"1389169\"\n        }, {\n          \"type\"
        : \"EMPLOYMENT\",\n          \"department-name\" : \"Special Testing and Research
        Lab\",\n          \"role-title\" : \"research chemist\",\n          \"start-date\"
        : {\n            \"year\" : {\n              \"value\" : \"1981\"\n            },\n
        \           \"month\" : {\n              \"value\" : \"06\"\n            },\n
        \           \"day\" : {\n              \"value\" : \"01\"\n            }\n
        \  [...]
