interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pub.orcid.org/v1.2/0000-0001-5109-3700/orcid-profile
  response:
    body: {string: "{\n  \"message-version\" : \"1.2\",\n  \"orcid-profile\" : {\n
        \   \"orcid\" : null,\n    \"orcid-id\" : null,\n    \"orcid-identifier\"
        : {\n      \"value\" : null,\n      \"uri\" : \"http://orcid.org/0000-0001-5109-3700\",\n
        \     \"path\" : \"0000-0001-5109-3700\",\n      \"host\" : \"orcid.org\"\n
        \   },\n    \"orcid-deprecated\" : null,\n    \"orcid-preferences\" : {\n
        \     \"locale\" : \"EN\"\n    },\n    \"orcid-history\" : {\n      \"creation-method\"
        : \"WEBSITE\",\n      \"completion-date\" : {\n        \"value\" : 1348856356615\n
        \     },\n      \"submission-date\" : {\n        \"value\" : 1348852748336\n
        \     },\n      \"last-modified-date\" : {\n        \"value\" : 1432563232392\n
        \     },\n      \"claimed\" : {\n        \"value\" : true\n      },\n      \"source\"
        : null,\n      \"deactivation-date\" : null,\n      \"verified-email\" : {\n
        \       \"value\" : true\n      },\n      \"verified-primary-email\" : {\n
        \       \"value\" : true\n      },\n      \"visibility\" : null\n    },\n
        \   \"orcid-bio\" : {\n      \"personal-details\" : {\n        \"given-names\"
        : {\n          \"value\" : \"Laurel\"\n        },\n        \"family-name\"
        : {\n          \"value\" : \"Haak\"\n        },\n        \"credit-name\" :
        {\n          \"value\" : \"Laurel L Haak\",\n          \"visibility\" : \"PUBLIC\"\n
        \       },\n        \"other-names\" : {\n          \"other-name\" : [ {\n
        \           \"value\" : \" L. L. Haak\"\n          }, {\n            \"value\"
        : \"L Haak\"\n          }, {\n            \"value\" : \"Laure Haak\"\n          },
        {\n            \"value\" : \"Laurela L H\u0101ka\"\n          } ],\n          \"visibility\"
        : \"PUBLIC\"\n        }\n      },\n      \"biography\" : {\n        \"value\"
        : \"Laurel L. Haak, PhD, is the Executive Director of ORCID, an international
        and interdisciplinary non-profit organization dedicated to providing the technical
        infrastructure to generate and maintain unique and persistent identifiers
        for researchers and scholars.   \\n\",\n        \"visibility\" : \"PUBLIC\"\n
        \     },\n      \"researcher-urls\" : {\n        \"researcher-url\" : [ {\n
        \         \"url-name\" : {\n            \"value\" : \"LinkedIn\"\n          },\n
        \         \"url\" : {\n            \"value\" : \"http://www.linkedin.com/pub/laurel-haak/3/1b/4a3/\"\n
        \         }\n        }, {\n          \"url-name\" : {\n            \"value\"
        : \"ResearchGate\"\n          },\n          \"url\" : {\n            \"value\"
        : \"https://www.researchgate.net/profile/Laurel_Haak\"\n          }\n        }
        ],\n        \"visibility\" : \"PUBLIC\"\n      },\n      \"contact-details\"
        : {\n        \"email\" : [ ],\n        \"address\" : {\n          \"country\"
        : {\n            \"value\" : \"US\",\n            \"visibility\" : \"PUBLIC\"\n
        \         }\n        }\n      },\n      \"keywords\" : {\n        \"keyword\"
        : [ {\n          \"value\" : \"persistent identifiers, research policy, science
        workforce, program evaluation, neuroscience, calcium imaging, oligodendrocytes,
        circadian rhythms\"\n        } ],\n        \"visibility\" : \"PUBLIC\"\n      },\n
        \     \"external-identifiers\" : {\n        \"external-identifier\" : [ {\n
        \         \"orcid\" : null,\n          \"external-id-orcid\" : null,\n          \"external-id-common-name\"
        : {\n            \"value\" : \"ISNI\"\n          },\n          \"external-id-reference\"
        : {\n            \"value\" : \"0000000138352317\"\n          },\n          \"external-id-url\"
        : {\n            \"value\" : \"http://isni.org/isni/0000000138352317\"\n          },\n
        \         \"external-id-source\" : null,\n          \"source\" : {\n            \"source-orcid\"
        : {\n              \"value\" : null,\n              \"uri\" : \"http://orcid.org/0000-0003-0412-1857\",\n
        \             \"path\" : \"0000-0003-0412-1857\",\n              \"host\"
        : \"orcid.org\"\n            },\n            \"source-client-id\" : null,\n
        \           \"source-name\" : null,\n            \"source-date\" : null\n
        \         }\n        }, {\n          \"orcid\" : null,\n          \"external-id-orcid\"
        : null,\n          \"external-id-common-name\" : {\n            \"value\"
        : \"ResearcherID\"\n          },\n          \"external-id-reference\" : {\n
        \           \"value\" : \"C-4986-2008\"\n          },\n          \"external-id-url\"
        : {\n            \"value\" : \"http://www.researcherid.com/rid/C-4986-2008\"\n
        \         },\n          \"external-id-sour[...]
